<h1>Selected Restaurant </h2>

<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center">
  </div>
  <div class="container-md">

    <h2>Name: <%= @restaurant.name %></h2>
    <h2>Address: <%= @restaurant.address %></h2>
    <% @restaurant.reviews.each do |r| %>
    <p>Review: <%= r.content %> </p>
    <p>Rating: <%= r.rating %> </p>
    <% end %>



    <p> <%= link_to "BACK TO MAIN PAGE", restaurants_path %> </p>

  </div>
</div>
